{% extends 'base.html.twig' %}

{% block title %}Edit Annonce{% endblock %}

{% block body %}
    <h1>Modifier mon annonce</h1>

    {{ include('annonce/_form.html.twig', {'button_label': 'Mettre à jour', 'delete': true}) }}
{% endblock %}
