{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}
    <section class="row">
        <form action="{{ path('app_login') }}" method="post" class="col-xs-12 col-md-6">
            <div class="mb-3">
                <label for="username" class="form-label">Email:</label>
                <input type="email" class="form-control" id="username" name="_username" value="{{ last_username }}">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <input type="password" class="form-control" id="password" name="_password">
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button type="submit" class="btn btn-primary">Connexion</button>
        </form>
    </section>
{% endblock %}